{% extends "layout.html" %}

{% block title %} Maria Doe | Portfolio {% endblock %}

{% block content %}
         <!-- Blog Section -->
         <section id="blog" class="section">
             <div class="container">
                 <h1>Welcome to my blog area!!</h1>

                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi modi eligendi sint cumque, atque optio sequi. Et perferendis similique omnis, dolor, delectus animi ad, soluta commodi magni expedita repellat.</p>

             </div>
         </section>
{% endblock %}