{% extends "layout.html" %}

{% block title %} Shop {% endblock %}

{% block content %}
         <!-- Shop Section -->
         <section id="contact" class="section">
             <div class="container">
                 <h1>Welcome to my Shop area!!</h1>

                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi modi eligendi sint cumque, atque optio sequi. Et perferendis similique omnis, dolor, delectus animi ad, soluta commodi magni expedita repellat.</p>

             </div>
         </section>
{% endblock %}